<h2>Legislator Lookup</h2>
<p>Look up your Federal legislators!</p>
<hr>
<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>
  <button class="btn btn-default" {{action 'zipLookup'}}>Submit</button>
</form>
