<img id="header" src="http://www.themesltd.com/headers2/stars_and_no_stripes.png" alt="Most patriotic american flag" />
<div class="navbar navbar-default">
  <div class="container-fluid">
    <a class="pull-left" href="/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Power Tracker</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="about" id="navbar-link">About</a></li>
        <li><a href="contact" id="navbar-link">Contact</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="container ">

  </div>
  {{outlet}}
</div>
